.section.chart-vrapp-container {
    display: grid;
    width: 100%;
    height: 75%;
    grid-template-areas: 
                "a b"
                "c d";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.section.chart-vrapp-container > .chart-vrapp-wrapper svg {
    height: 50%;
    width: 50%;
}

div {
    height: 100%;
    width: 100%;
}

.section.chart-vrapp-container > .chart-vrapp-wrapper > .chart-vrapp.block#chart1 {
    grid-area: a;
}

.section.chart-vrapp-container > .chart-vrapp-wrapper > .chart-vrapp.block#chart2 {
    grid-area: b;
}

.section.chart-vrapp-container > .chart-vrapp-wrapper > .chart-vrapp.block#chart3 {
    grid-area: c;
}

.section.chart-vrapp-container > .chart-vrapp-wrapper > .chart-vrapp.block#chart4 {
    grid-area: d;
}